<h1>Welcome to ResultSafe.</h1>
<div class="homepage_info">
  <p>SOME STUFF ABOUT OUR SERVICE GOES HERE</p>
</div>
<div class="clinic_list">
  <%= link_to 'Partners', partners_path %>
</div>
<div class="user_page">
  <%= link_to 'Your Account', user_page_path %>
</div>