<h2>Our Partners.</h2><hr>

<p>
  <% @partners.each do |partner| %>
    <p><strong>Name:</strong> <%= partner.id %></p>
    <p><strong>Address:</strong> <%= partner.address %></p><hr>
  <% end %>
</p> 