<h2>Your Account</h2><hr>

<p>
    <p><strong>ID:</strong> <%= @user.user_id %></p>
    <p><strong>Results:</strong> <%= @user.results %></p><hr>
    <p><strong>Date:</strong> <%= @user.date %></p><hr>
</p> 